/*==========  Desktop First Method  ==========*/
@media only screen and (max-width: 1350px) {
  .container {
    max-width: 1170px;
  }
  .home-wrap-one-other {
    padding-left: 55px;
  }
  .home-wrap-one-other {
    background: url(../images/wrap-back-2.png) no-repeat #fff;
    background-position: right 20px bottom;
  }
  .home-wrap-one-help {
    right: 10px;
    bottom: 217px;
  }
  .home-route-item {
    width: 170px;
    height: 175px;
  }
  .home-wrap-one-other-txt {
    padding-top: 70px;
  }
  .home-route h2 {
    padding-top: 100px;
  }
  .home-top-developer h2 {
    padding-top: 40px;
  }
  .home-top-developer-item {
    width: 273px;
  }
  .home-top-developer-img {
    width: 90px;
    height: 90px;
  }
  .home-free-flex {
    padding: 0px 17px;
    padding-top: 34px;
  }
  .home-free-flex .home-free-item:nth-of-type(3) {
    padding-right: 17px;
  }
  .home-free-flex .home-free-item:nth-of-type(4) {
    padding-right: 11px;
  }
  .price-list-it {
    height: 50px;
    font-size: 25px;
    line-height: 42px;
  }
  .price-list-blo {
    width: 227px;
  }
  .price-list-blo-txt {
    padding-left: 37px;
  }
  .top-home-project-flex {
    justify-content: center;
  }
  .top-home-project-item {
    margin: 0px 7px;
    margin-bottom: 30px;
  }
  .news-home-item-txt h3 {
    font-size: 31px;
  }
  .home-wrap-one-smoke {
    right: 130px;
    bottom: 161px;
  }
  .chat-item img {
    max-width: 120px;
  }
  .aft1 img {
    max-width: 87%;
  }
  .aft1 {
    position: absolute;
    left: 175px;
    top: 113px;
  }
  .aft2 img {
    max-width: 82%;
  }
  .aft2 {
    left: 325px;
    bottom: 95px;
  }
  .home-wrap-2 img {
    max-width: 88%;
  }
  .home-wrap-2 {
    position: absolute;
    right: 439px;
    bottom: 104px;
  }
  .home-wrap-1 img {
    max-width: 86%;
  }
  .home-wrap-1 {
    position: absolute;
    left: 657px;
    bottom: 58px;
  }
  .home-wrap-3 img {
    max-width: 86%;
  }
  .home-wrap-3 {
    position: absolute;
    right: 204px;
    bottom: 117px;
  }
  .all-freelance-developer__card:before {
    width: 1140px;
  }
  .all-freelance-developer__card-first-columns {
    margin-right: 15px;
    width: 142px;
  }
  .all-freelance-developer__card-img {
    margin-right: 15px;
    width: 96px;
    height: 96px;
  }
  .all-freelance-developer__card {
    padding-right: 20px;
  }
  .all-freelance-developer__projects {
    width: 660px;
    padding-right: 17px;
  }
  .all-freelance-developer__card {
    width: calc(100% - 660px);
  }
  .sorting__link {
    min-width: 173px;
    padding: 0 15px;
  }
  .sorting__link.active:before {
    width: 36px;
  }
  .sorting__link-2 {
    font-size: 15px;
  }
  .sorting__unit input[type="submit"] {
    min-width: 150px;
    width: initial;
  }
  .line-for-links.type-2 .line-for-links__link {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .home-wrap-1,
  .home-wrap-2,
  .home-wrap-3 {
    display: none;
  }
  .aft1,
  .aft2 {
    display: none;
  }
  .colapse-menu-button {
    display: inline-block;
  }
  .price-list-flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .price-list-blo {
    width: 240px;
  }
  .price-list-item {
    margin: 10px;
  }
  .home-top-developer-flex {
    justify-content: center;
  }
  .home-top-developer-item {
    margin: 7px;
  }
  .home-free-flex {
    background: none;
    justify-content: center;
  }
  .home-free {
    padding-bottom: 40px;
  }
  .home-wrap-one-other {
    background: #fff;
    text-align: center;
    min-height: inherit;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .home-wrap-one-help {
    display: none;
  }
  .home-wrap-one-other-txt {
    max-width: inherit;
    padding-top: 10px;
  }
  .home-wrap-one-input {
    margin-top: 15px;
  }
  .home-wrap-one-numeral-item h4 {
    font-size: 44px;
  }
  .home-wrap-one-numeral-item p {
    font-size: 21px;
  }
  .home-route h2 {
    font-size: 31px;
    padding-top: 70px;
  }
  .home-route-flex {
    justify-content: center;
  }
  .home-route-item {
    margin: 5px;
  }
  .home-route {
    padding-bottom: 50px;
  }
  .home-top-developer h2 {
    padding-bottom: 40px;
  }
  .home-top-developer {
    padding-bottom: 40px;
  }
  .home-free-flex {
    padding: 0px;
    min-height: inherit;
  }
  .home-free-flex .home-free-item:nth-of-type(4),
  .home-free-flex .home-free-item:nth-of-type(3) {
    padding-right: 0px;
  }
  .news-home-item {
    height: auto;
    padding-bottom: 20px;
  }
  .news-home-item-bottom {
    float: none;
    text-align: center;
    margin-right: 0px;
    margin-top: 10px;
  }
  .news-home .col-lg-6 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .news-home-item-txt h3 {
    font-size: 27px;
  }
  .logo img {
    max-width: 85%;
  }
  .logo {
    padding-top: 10px;
  }
  .c-hamburger span {
    background: #fff;
  }
  .c-hamburger span::before,
  .c-hamburger span::after {
    background: #fff;
  }
  .header-navig {
    display: none;
  }
  .colapse-menu-button {
    padding-top: 6px;
  }
  .header-navig {
    position: absolute;
    top: 59px;
    right: 0px;
    z-index: 2;
    background: #2a273c;
    padding: 20px;
    padding-top: 10px;
  }
  .header-navig-menu li {
    display: block;
    margin-bottom: 15px;
    margin-left: 0px;
  }
  .header-lang {
    padding-left: 0px;
  }
  .all-freelance-developer__card:before {
    width: 930px;
  }
  .sorting__link {
    min-width: 131px;
  }
  .all-freelance-developer__card {
    position: relative;
    padding-right: 10px;
    display: block;
  }
  .all-freelance-developer__card:after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    float: none !important;
  }
  .all-freelance-developer__card-img {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 86px;
    height: 86px;
    float: left;
  }
  .all-freelance-developer__card-columns {
    display: block;
  }
  .all-freelance-developer__card-first-columns {
    margin-right: 0;
    width: 142px;
    float: right;
    margin-bottom: 12px;
  }
  .all-freelance-developer__card-second-columns {
    width: 100%;
    float: left;
  }
  .mobile-hidden {
    display: none;
  }
  .profile-main-info__third-columns {
    width: 246px;
    padding: 25px 17px;
  }
  .profile-main-info .developer-name {
    font-size: 40px;
  }
  .profile-main-info .developer-category {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .profile-main-info .developer-info {
    font-size: 20px;
  }
  .profile-main-info__first-columns {
    padding: 15px 17px 25px 17px;
    width: 230px;
  }
  .profile-main-info__second-columns {
    padding: 25px 17px 25px 17px;
    width: calc(100% - 230px - 246px);
  }
  .profile-main-info__img {
    width: 160px;
  }
  .profile-main-info__img img {
    max-width: 100%;
    height: auto;
  }
  .profile-main-info__total-line-text {
    padding-right: 10px;
  }
  .profile-main-info__columns {
    width: calc(100% - 167px);
  }
  .line-for-links.type-2 {
    margin-right: -2px;
    justify-content: start;
  }
  .reviews {
    padding-top: 38px;
  }
  .reviews__name {
    padding-right: 0;
  }
  .reviews__top-line {
    max-width: 217px;
    width: auto;
    height: 26px;
    overflow: hidden;
  }
  .reviews__text {
    max-height: 51px;
  }

/*-- Resp Background --*/

.resp_top_bg {
  display: block;
  height: 385px;
  margin-top: 30px;
  position: relative;
}

.resp_top_bg .bg_resp_elem {
  position: absolute;
}

.bg_resp_elem_1 {
  bottom: 0;
  left: 0;
}

.bg_resp_elem_2 {
  top: -5px;
  right: 0;
}

.bg_resp_elem_3 {
  bottom: 0;
  right: 0;
}

/*-- /Resp Background --*/

  /*-- Account Site --*/
  .table_4 h3 {
    font-size: 18px;
  }
  .table_4 p {
    font-size: 14px;
  }
  /*-- /Account Site --*/
  /*-- Section 1 - Vacansie Page --*/
  .vacansie_templ > .left {
      width: 100%;
      padding: 5px 0;
  }
  .vacansie_templ > .right {
      width: 100%;
      padding: 5px 0;
  }
  /*-- /Section 1 - Vacansie Page --*/
  .chat-item img {
    display: none;
  }
  .chat_resp {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #fcc836;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition-property: box-shadow;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: ease;

    -moz-transition-property: box-shadow;
    -moz-transition-duration: .3s;
    -moz-transition-timing-function: ease;

    -ms-transition-property: box-shadow;
    -ms-transition-duration: .3s;
    -ms-transition-timing-function: ease;

    -o-transition-property: box-shadow;
    -o-transition-duration: .3s;
    -o-transition-timing-function: ease;

    transition-property: box-shadow;
    transition-duration: .3s;
    transition-timing-function: ease;
  }
  .chat_resp img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .chat_resp:hover {
    -webkit-box-shadow: 0 0 20px 0 rgba(252,200,54,.7);
    -moz-box-shadow: 0 0 20px 0 rgba(252,200,54,.7);
    box-shadow: 0 0 20px 0 rgba(252,200,54,.7);
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .footer-flex {
    flex-direction: column;
  }
  .logo-footer {
    width: 100%;
    text-align: center;
  }
  .footer-list {
    width: 100%;
    padding-top: 30px;
  }
  .logo-footer-txt {
    padding-left: 0px;
  }
  .footer-list-item {
    padding-left: 10px;
  }
  .news-home-item {
    text-align: center;
  }
  .top-home-project h2 {
    font-size: 31px;
    padding-bottom: 50px;
  }
  .price-list {
    padding-bottom: 40px;
  }
  .price-list h2 {
    font-size: 31px;
    padding-bottom: 40px;
  }
  .home-free-flex {
    flex-wrap: wrap;
  }
  .home-free-item {
    width: 50%;
  }
  .home-top-developer h2 {
    font-size: 31px;
  }
  .home-wrap-one-numeral {
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-wrap-one-numeral-item {
    width: 50%;
  }
  .home-wrap-one-other-txt h2 {
    font-size: 41px;
  }
  .sorting__link {
    min-width: 111px;
    font-size: 14px;
  }
  .all-freelance-developer__projects {
    width: 446px;
  }
  .all-freelance-developer__card {
    width: calc(100% - 445px);
  }
  .all-freelance-developer__card:before {
    width: 690px;
  }
  .all-freelance-developer__card-first-columns {
    width: 115px;
  }
  .all-freelance-developer__card .developer-category {
    font-size: 13px;
  }
  .all-freelance-developer__btn-line .btn {
    min-width: 100%;
  }
  .subpage-title {
    margin: 40px 0 50px;
  }
  .box-for-sorting + .subpage-title {
    margin-top: 30px;
  }
  .all-freelance-developer__card-columns {
    position: relative;
  }
  .all-freelance-developer__card-columns:after {
    content: '';
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    float: none !important;
  }
  .profile-main-info__columns {
    flex-wrap: wrap;
  }
  .profile-main-info__second-columns {
    padding: 20px 17px 20px 17px;
    width: 100%;
    order: 1;
    border-right: none;
    border-top: 1px solid #EDEDED;
  }
  .profile-main-info__second-columns p:last-child {
    margin-bottom: 0;
  }
  .profile-main-info__third-columns,
  .profile-main-info__first-columns {
    width: 50%;
  }
  .line-for-links__link {
    min-width: initial;
  }
  .reviews-section__top-line-right {
    width: 180px;
  }
  .reviews {
    width: calc(50% - 13px);
  }
  /*-- Account Site --*/
  .table_4 h3 {
      font-size: 14px;
      font-weight: 600;
  }
  /*-- /Account Site --*/
  /*-- Resp Background --*/
  .resp_top_bg {
    height: 330px;
    margin-top: 20px;
  }
  .resp_top_bg .bg_resp_elem {
    transform: scale(.7);
    -webkit-transform: scale(.7);
  }
  .bg_resp_elem_1 {
    left: -14%;
  }
  .bg_resp_elem_2 {
    top: -12px;
  }
  .bg_resp_elem_3 {
    bottom: 8px;
    right: -2%;
  }
  /*-- /Resp Background --*/
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .footer-list-item {
    width: 50%;
  }
  .footer-list {
    flex-wrap: wrap;
  }
  .news-home {
    padding-bottom: 50px;
  }
  .home-wrap-one-other-link a:nth-of-type(1) {
    margin-right: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .home-free h2 {
    font-size: 31px;
  }
  .home-free-flex .home-free-item:nth-of-type(4) p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .home-free h2 + h4 {
    font-size: 18px;
  }
  .home-free-item p {
    font-size: 16px;
  }
  .sorting__link {
    min-width: inherit;
    font-size: 14px;
  }
  .all-freelance-developer__unit {
    display: block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
    background-color: #ffffff;
  }
  .all-freelance-developer__card:before {
    display: none;
  }
  .all-freelance-developer__card {
    width: 100%;
    margin-bottom: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
  }
  .all-freelance-developer__card-columns {
    display: flex;
  }
  .all-freelance-developer__card-second-columns {
    width: 190px;
    float: none;
  }
  .all-freelance-developer__card .developer-category {
    font-size: 16px;
  }
  .all-freelance-developer__card-first-columns {
    width: 144px;
    margin-right: 20px;
    margin-bottom: 0;
    align-items: center;
  }
  .all-freelance-developer__projects {
    width: 100%;
    padding-left: 17px;
  }
  .all-freelance-developer__projects {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .all-freelance-developer__projects .top-home-project-item {
    width: 149px;
    margin-bottom: 40px;
  }
  .all-freelance-developer__projects .top-home-project-item:before {
    content: '';
    position: absolute;
    top: -12px;
    left: 0px;
    background: url(../images/aft2.png) no-repeat;
    width: 100%;
    height: 12px;
    background-size: contain;
  }
  .all-freelance-developer__projects .top-home-project-bottom:after {
    width: calc(100% - 18px);
    top: 0px;
    left: 9px;
  }
  .all-freelance-developer__projects .top-home-project-item {
    box-shadow: 0px -1px 3px 0 rgba(0, 0, 0, 0.1);
  }
  .all-freelance-developer__projects .top-home-project-item:after {
    content: '';
    background: url(../images/aft1.png) no-repeat;
    width: 100%;
    height: 14px;
    background-size: contain;
  }
  .all-freelance-developer__projects .top-home-project-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .all-freelance-developer__projects .top-home-project-bottom {
    font-size: 13px;
  }
  .sorting__unit input[type="submit"] {
    min-width: 120px;
    font-size: 14px;
  }
  .sorting__unit input[type="text"],
  .sorting__unit input[type="number"] {
    width: 94px;
    font-size: 13px;
  }
  .profile-main-info__img {
    width: 130px;
  }
  .profile-main-info__columns {
    width: calc(100% - 137px);
  }
  .profile-main-info .developer-category {
    font-size: 15px;
    margin-bottom: 4px;
  }
  .profile-main-info .developer-name {
    font-size: 24px;
  }
  .profile-main-info .developer-info {
    font-size: 15px;
  }
  .profile-main-info__first-columns {
    width: 45%;
  }
  .profile-main-info__third-columns {
    width: 55%;
  }
  .line-for-links {
    margin-right: -10px;
  }
  .line-for-links__item {
    margin-right: 10px;
  }
  .line-for-links__link {
    font-size: 14px;
    padding: 0 24px;
  }
  .profile-main-info__total-line-text,
  .profile-main-info__total-line-number {
    padding-bottom: 5px;
    vertical-align: middle;
  }
  .profile-main-info__total-line-text {
    padding-right: 7px;
  }
  .box-specialization__column {
    width: 50%;
  }
  .box-specialization__third-column {
    width: 100%;
    padding-right: 0;
    column-count: 2;
    column-gap: 20px;
  }
  .hidden-767 {
    display: none !important;
  }
  .reviews__text {
    max-height: 68px;
  }
  /*-- Account Site --*/
  .table_4 .table_row {
      padding: 9px 10px;
  }
  .table_4 .table_row.table_header {
    display: none;
  }
  .table_4 .table_row h3 {
    display: block;
    font-size: 12px;
  }
  .table_4 .table_row {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    padding: 9px 10px;
  }
  .table_4 p {
    font-size: 12px;
  }
  .table_4 .table_row .cell {
    padding: 5px;
  }
  .table_4 .table_row .cell:nth-child(1) {
      width: 33.33%;
  }
  .table_4 .table_row .cell:nth-child(2) {
      width: 40%;
  }
  .table_4 .table_row .cell:nth-child(3) {
      width: 26%;
  }
  .table_4 .table_row .cell:nth-child(4) {
      width: 33.33%;
  }
  .table_4 .table_row .cell:nth-child(5) {
      width: 66.66%;
  }
  /*-- /Account Site --*/
  /*-- Notifictions --*/
  .title_3 h2 {
      font-size: 25px;
  }
  .title_3 {
      padding: 20px 0 20px 0;
  }
  .inner_box {
      padding-left: 0;
  }
  /*-- /Notifictions --*/
  /*-- Delete Accaunt --*/
  .title_4 h2 {
      font-size: 24px;
  }
  .article_2 p {
      font-size: 16px;
  }
  .article_2 ul > li {
      font-size: 16px;
  }
  .article_2 ul > li ul li {
      font-size: 16px;
  }
  .submit_wrapp_5 {
      padding: 10px 0;
  }
  .article_2 p a {
      font-size: 16px;
  }
  /*-- /Delete Accaunt --*/
  /*-- Services Accaunt --*/
  .two_cols_2 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .two_cols_2_col:nth-child(1) {
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
  }
  .two_cols_2_col:nth-child(2) {
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
  }
  /*-- /Services Accaunt --*/
  /*-- Resp Background --*/
  .resp_top_bg {
      height: 200px;
      margin-top: 20px;
  }
  .resp_top_bg .bg_resp_elem {
    transform: scale(.5);
    -webkit-transform: scale(.5);
  }
  .bg_resp_elem_1 {
    bottom: -77px;
    left: -27%;
  }
  .bg_resp_elem_2 {
    top: -32px;
    right: -9%;
  }
  .bg_resp_elem_3 {
    bottom: -62px;
    right: -15%;
  }
  /*-- /Resp Background --*/
}
@media only screen and (max-width: 550px) {
  .home-wrap-one-other-txt h2 {
    font-size: 31px;
    margin-bottom: 12px;
  }
  .home-wrap-one-other-txt h2 + p {
    font-size: 16px;
  }
  .home-wrap-one-other {
    padding-bottom: 30px;
  }
  .home-wrap-one-other-txt {
    padding-top: 30px;
  }
  .home-wrap-one-input input[type="text"]::-webkit-input-placeholder {
    font-size: 18px;
  }
  .home-wrap-one-input input[type="text"]::-moz-placeholder {
    font-size: 18px;
  }
  .home-wrap-one-input input[type="text"]:-ms-input-placeholder {
    font-size: 18px;
  }
  .home-wrap-one-numeral-item p {
    font-size: 18px;
  }
  .home-wrap-one-numeral-item-align {
    height: auto;
  }
  .home-wrap-one-numeral-item h4 {
    font-size: 37px;
    padding-bottom: 10px;
  }
  .home-wrap-one-numeral-item {
    margin-bottom: 20px;
  }
  .home-route h2 {
    font-size: 27px;
    padding: 40px 0px;
  }
  .home-route-item {
    width: 150px;
  }
  .home-route-txt {
    font-size: 16px;
  }
  .home-route-flex {
    padding: 0px;
  }
  .home-top-developer h2 {
    font-size: 27px;
    padding-top: 0px;
  }
  .home-free h2 {
    font-size: 27px;
  }
  .price-list h2 {
    font-size: 27px;
    padding-bottom: 30px;
  }
  .price-list-blo {
    width: 230px;
  }
  .top-home-project h2 {
    font-size: 27px;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .news-home h2 {
    font-size: 31px;
    padding-bottom: 30px;
  }
  .news-home-item-bottom {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .news-home-item-bottom a:nth-of-type(2) {
    margin: 0 auto;
    margin-top: 10px;
  }
  .news-home-item-txt h3 {
    font-size: 24px;
  }
  .subpage-title h1 {
    font-size: 27px;
  }
  .subpage-title {
    margin: 30px 0 30px;
  }
  .all-freelance-developer__card {
    display: flex;
    flex-wrap: wrap;
  }
  .all-freelance-developer__card .developer-category {
    font-size: 13px;
  }
  .all-freelance-developer__card-first-columns {
    width: 120px;
    margin-right: 15px;
  }
  .all-freelance-developer__card-second-columns {
    width: 170px;
  }
  .profile-main-info {
    flex-wrap: wrap;
  }
  .profile-main-info__columns {
    width: 100%;
  }
  .profile-main-info__img {
    width: 150px;
    margin: 0 auto 10px;
  }
  .top-home-project__top-line.mod-2 {
    padding: 14px 17px;
    font-size: 14px;
  }
  .box-specialization__column {
    width: 100%;
    padding-right: 0;
  }
  .box-specialization__third-column {
    width: 100%;
    padding-right: 0;
    column-count: 1;
    column-gap: 0;
  }
  .btn.size-2 {
    line-height: 40px;
    font-size: 17px;
    padding: 0 45px;
    max-width: 100%;
  }
  .reviews-section__top-line {
    padding-left: 17px;
  }
  .reviews {
    width: calc(100% - 13px);
  }
}
@media only screen and (max-width: 480px) {
  .home-free-item {
    width: 100%;
    margin-bottom: 10px;
  }
  .all-freelance-developer__card-img {
    margin-right: auto;
    margin-left: auto;
  }
  .all-freelance-developer__projects .top-home-project-item {
    width: 146px;
  }
  .all-freelance-developer__card-columns {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .profile-info-box {
    font-size: 14px;
    padding: 20px 17px;
  }
  .profile-main-info .developer-info {
    font-size: 14px;
  }
  .line-for-links.type-2 .line-for-links__link {
    font-size: 14px;
  }
  .reviews-section__top-line-right {
    width: 100%;
  }
  .reviews-section__top-line {
    flex-wrap: wrap;
  }
  /*-- Accout Site --*/
  .table_4 .table_row .cell:nth-child(1) {
      width: 50%;
  }
  .table_4 .table_row .cell:nth-child(2) {
      width: 50%;
  }
  .table_4 .table_row .cell:nth-child(3) {
      width: 50%;
  }
  .table_4 .table_row .cell:nth-child(4) {
      width: 50%;
  }
  .table_4 .table_row .cell:nth-child(5) {
      width: 100%;
  }
  /*-- /Accout Site --*/
  /*-- Services Accaunt --*/
  .header_inline {
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      margin: 10px 0;
  }
  /*-- /Services Accaunt --*/
  /*-- Finance --*/
  .yellow_box {
      padding: 8px 20px 13px 20px;
  }
  .table_6_wrapp h3 {
      font-size: 15px;
  }
  .table_6 p {
      font-size: 14px;
  }
  .buttons_inline {
      margin: 20px -8px;
  }
  /*-- /Finance --*/
  /*-- Resp Background --*/
  .home-wrap-one-other {
    margin: 0 -20px;
  }
  .resp_top_bg {
      height: 170px;
      margin-top: 15px;
  }
  .resp_top_bg .bg_resp_elem {
      transform: scale(.4);
      -webkit-transform: scale(.4);
  }
  .bg_resp_elem_1 {
      bottom: -89px;
      left: -180px;
  }
  .bg_resp_elem_2 {
      top: -31px;
      right: -56px;
  }
  .bg_resp_elem_3 {
      bottom: -71px;
      right: -94px;
  }
  .home-wrap-one-other {
    padding-bottom: 51px;
  }
  .home-wrap-one-other-txt {
    padding: 16px 15px 0 15px;
    text-align: left;
  }
  .home-wrap-one-other-txt h2 {
    font-size: 28px;
    margin-bottom: 12px;
    margin-left: 0;
  }
  .home-wrap-one-other-txt h2 + p {
    font-size: 11px;
    line-height: 16px;
  }
  .home-wrap-one-other-link {
    padding-top: 7px;
  }
  .home-wrap-one-other-link a {
    width: 100% !important;
    margin: 8px 0 !important;
    border-radius: 8px !important;
  }
  /*-- /Resp Background --*/

}
@media only screen and (max-width: 370px) {
  .all-freelance-developer__card-second-columns {
    width: 124px;
  }
  .subpage-title h1 {
    font-size: 26px;
  }
  .all-freelance-developer__projects .top-home-project-item {
    width: 200px;
  }
  .all-freelance-developer__projects .top-home-project-item:before {
    top: -14px;
    height: 17px;
  }
  .all-freelance-developer__projects .top-home-project-item:after {
    height: 17px;
  }
  .next .pagination-link {
    font-size: 14px;
  }
  .sorting__unit input[type="text"],
  .sorting__unit input[type="number"] {
    width: 73px;
    margin-bottom: 10px;
  }
  .sorting__unit {
    margin-right: 9px;
  }
  .sorting {
    margin-right: -11px;
  }
  .profile-main-info__columns {
    flex-wrap: wrap;
  }
  .profile-main-info__first-columns {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 17px;
  }
  .profile-main-info__third-columns {
    width: 100%;
    padding: 19px 17px;
  }
  .reviews-section__top-line .line-for-links.type-2 .line-for-links__link {
    font-size: 13px;
  }
  .reviews-section__top-line .line-for-links.type-2 .line-for-links__link {
    padding: 0 10px;
  }
  .reviews-section__top-line .line-for-links.type-2 .line-for-links__link.mod-with-arrow {
    padding-right: 20px;
  }
  .line-for-links__link.mod-with-arrow:before {
    width: 22px;
  }
}
/*# sourceMappingURL=media.css.map */
@media only screen and (max-width: 1200px) {
/*-- Deals --*/
.deals_header {
  display: block;
}
.deals_header .col_1 {
    width: 100%;
}
.deals_header .col_2 {
    width: 100%;
}
/*-- /Deals --*/
}
@media only screen and (max-width: 990px) {
  /*-- Section 1 - Vacansies Page --*/
  .vacansie_thumb {
    width: calc(50% - 30px);
  }
  /*-- /Section 1 - Vacansies Page --*/
  /*-- Safe --*/
  .table_header h3 {
      font-size: 17px;
  }
  /*-- /Safe --*/
  /*-- Settings --*/
  .tree_cols .tree_cols_col:nth-child(1) {
    width: 50%;
  }
  .tree_cols .tree_cols_col:nth-child(2) {
    width: 50%;
    padding-right: 0;
  }
  .tree_cols .tree_cols_col:nth-child(3) {
    width: 100%;
    padding: 10px 0;
  }
  .col_ttile h2 {
      font-size: 21px;
      line-height: 27px;
  }
  .two_cols {
    display: block;
  }
  .two_cols .two_cols_col:nth-child(1) {
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
  }
  .two_cols .two_cols_col:nth-child(2) {
    width: 100%;
    max-width: 100%;
    padding: 10px 0;
  }
  .input_wrapp_5_2 > div:nth-child(1) {
      width: 205px;
  }
  .submit_wrapp_4 {
      padding: 10px 0 15px;
  }
  /*-- /Settings --*/
  /*-- Deals --*/

  .blue_title_2 {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .blue_title_2 > div:nth-child(1) {
    width: calc(100% - 120px);
  }

  .dropdown_resp_wrapp {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    width: 120px;
  }
  .drpdown_select_title h3 {
      font-size: 15px;
  }
  .drpdown_select_title:after {
      top: 6px;
  }
  .deals_header .col_2 {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  .table_3 .table_row .cell {
      padding: 10px 5px;
  }
  .table_3 .table_header {
      display: none;
  }
  .table_3 .table_row h3 {
      display: block;
      font-size: 14px;
  }
  .table_3 .table_row {
      align-items: flex-start;
      -webkit-align-items: flex-start;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
  }
  .table_3 .table_row .cell:nth-child(1) {
      width: 30px;
      padding-left: 10px;
  }
  .table_3 .table_row .cell:nth-child(2) {
      width: calc(33.33% - 30px);
  }
  .table_3 .table_row .cell:nth-child(3) {
      width: 33.33%;
  }
  .table_3 .table_row .cell:nth-child(4) {
      width: 33.33%;
  }
  .table_3 .table_row .cell:nth-child(5) {
      width: calc(33.33% - 30px);
      margin-left: 30px;
  }
  .table_3 .table_row .cell:nth-child(6) {
      width: 33.33%;
  }
  .table_3 .table_row .cell:nth-child(7) {
      width: 33.33%;
  }
  /*-- /Deals --*/
  /*-- Section - Forum 2 Page --*/
  .two_cols_templ {
    display: block;
  }
  .two_cols_templ .left,
  .two_cols_templ .right {
    float: none;
    width: 100%;
    padding: 10px 0;
  }
  .two_cols_templ .right {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  .sidebar_box {
    margin: 12px;
  }
  /*-- /Section - Forum 2 Page --*/
}

@media only screen and (max-width: 767px) {
  /*-- Section 1 - Contacts Page --*/
  .contacts_templ {
      padding: 30px 25px 30px 25px;
  }
  .contacts_templ .left {
      width: calc(100% - 120px);
  }
  .contacts_templ .right {
      width: 120px;
  }
  /*-- /Section 1 - Contacts Page --*/
  /*-- Section 1 - Arbitrag Page --*/
  .arb_project_header {
      display: block;
      padding-bottom: 10px;
  }
  .arb_project_header .col_1 {
      width: 100%;
  }
  .arb_project_header .col_2 {
      width: 100%;
      padding-top: 0;
      text-align: center;
  }
  .project_descript {
      padding: 10px 0;
  }
  .project_descript p {
      font-size: 16px;
      line-height: 20px;
  }
  .files_list {
    padding: 10px 0;
  }
  /*-- /Section 1 - Arbitrag Page --*/
  /*-- Safe --*/
  .title_wrapp h2 {
      font-size: 24px;
  }
  .blue_title h2 {
      font-size: 16px;
  }
  .blue_title_descript p {
      font-size: 16px;
  }
  .white_box {
      padding: 23px 20px 21px 20px;
  }
  .table_header h3 {
      font-size: 14px !important;
  }
  .table .table_row .cell p {
      font-size: 11px;
  }
  /*-- /Safe --*/
  /*-- Section 1 - Configuration Page --*/
  .table_2 .table_row {
      padding: 0 15px;
  }
  /*-- /Section 1 - Configuration Page --*/
  /*-- Section 1 - New Project --*/
  .deals_header h2 {
    padding-bottom: 10px;
    font-size: 25px;
  }
  .nw_input input {
    padding: 0 10px;
  }
  .nw_input_wrapp textarea {
    padding: 6px 10px;
  }
  /*-- /Section 1 - New Project --*/
  /*-- Account Site --*/
  .add_money_wrapp {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }
  /*-- /Account Site --*/
  /*-- Section 1 - Forum Page --*/
  .blue_title_3 {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .blue_title_3 .col_1 {
      width: 100%;
  }
  .blue_title_3 .col_2 {
      width: 100%;
  }
  /*-- /Section 1 - Forum Page --*/
  /*-- Section - Forum 2 Page --*/
  .sidebar_box {
    width: 100%;
    max-width: 100%;
  }
  .table_7 .table_row {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding: 8px 10px;
  }
  .table_7 .table_row .cell {
    padding: 5px 10px;
  }
  .table_7 .table_row .cell:nth-child(2) {
      width: calc(100% - 60px);
  }
  .table_7 .table_row .cell:nth-child(3) {
      width: 70px;
      margin-left: 60px;
  }
  .table_7 .table_row .cell:nth-child(4) {
      width: calc(40% - 60px);
  }
  .table_7 .table_row .cell:nth-child(5) {
      width: calc(60% - 70px);
  }
  .fixed_block .container .close_btn {
      right: 10px;
  }
  /*-- /Section - Forum 2 Page --*/
  /*-- Section 1 - Vacansie Page --*/
  .vacansie_descript p {
      padding-bottom: 13px;
      font-size: 16px;
  }
  .vacansie_templ .inner_col {
    padding: 0 20px;
  }
  .vacansie_templ > .right .inner_col {
      padding: 0 20px 20px 20px;
  }
  /*-- /Section 1 - Vacansie Page --*/
}

@media only screen and (max-width: 600px) {
  /*-- Section 1 - Vacansies Page --*/
  .vacansie_thumb {
    width: 100%;
  }
  /*-- /Section 1 - Vacansies Page --*/
  /*-- Section 1 - Arbitrag Page --*/
  .add_news_footer {
      display: block;
  }
  .add_news_footer > div:nth-child(1) {
      width: 100%;
  }
  .add_news_footer > div:nth-child(2) {
      width: 100%;
      text-align: right;
  }
  /*-- /Section 1 - Arbitrag Page --*/
  /*-- Settings --*/
  .tree_cols .tree_cols_col:nth-child(1) {
    width: 100%;
    padding: 0;
  }
  .tree_cols .tree_cols_col:nth-child(2) {
    width: 100%;
    padding: 0;
  }
  .col_ttile h2 {
      font-size: 21px;
      line-height: 27px;
  }
  .input_wrapp_5 {
    display: block;
    margin: 15px 0;
  }
  .input_wrapp_5 > div:nth-child(2) {
      width: 100%;
  }
  .input_wrapp_5 p {
      padding: 4px 0;
      font-size: 16px;
  }
  .two_cols {
      padding: 0;
  }
  .two_cols .input_wrapp input {
    max-width: 100%;
  }
  .two_cols .dropdown_box_title_2 {
    max-width: 100%;
  }
  .two_cols .dropdown_box_wrapp_2 {
    max-width: 100%;
  }
  /*-- /Settings --*/
  /*-- Deals --*/
  .blue_title_2 > div:nth-child(1) {
    width: 100%;
  }
  .dropdown_resp_wrapp {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    width: 100%;
    padding-top: 10px;
  }
  /*--/ Deals --*/
  /*-- Section 1 - New Project --*/
  .line-for-links__link {
      padding: 0 12px;
  }
  .nw_input_wrapp h2 {
      font-size: 19px;
  }
  .nw_input_wrapp_2 h2 {
      font-size: 19px;
  }
  /*-- .Section 1 - New Project --*/
  /*-- Section 1 - Forum Page --*/
  .theme_item .col_1:nth-child(1) {
      width: 100px;
  }
  .theme_item .col_2:nth-child(2) {
      width: calc(100% - 100px);
  }
  .theme_item_descript p {
      font-size: 12px;
  }
  /*-- /Section 1 - Forum Page --*/
  /*-- Section 1 - Vacansie Page --*/
  .vacansie_form_two_cols > div:nth-child(1),
  .vacansie_form_two_cols > div:nth-child(2) {
      width: 100%;
      padding: 4px 0;
  }
  .vacansie_form_two_cols .input_wrapp input {
    max-width: 100%;
  }
  .vacansie_form_two_cols .dropdown_box_wrapp_2 {
      max-width: 100%;
  }
  .vacansie_form_two_cols .dropdown_box_title_2 {
      max-width: 100%;
  }
  /*-- /Section 1 - Vacansie Page --*/
  /*-- Section 1 - News Page --*/
  .modal_title {
    padding: 10px 0;
  }
  .modal_title h2 {
      font-size: 30px;
  }
  /*-- /Section 1 - News Page --*/
}

@media only screen and (max-width: 480px) {
  .subpage-title h1 {
      font-size: 25px;
  }
  .subpage-title_2 h4 {
      font-size: 21px;
      line-height: 23px;
  }
  /*-- Section 1 - Contacts Page --*/
  .contacts_templ {
    display: block;
    padding: 30px 25px 30px 25px;
  }
  .contacts_templ .left {
      float: none;
      width: 100%;
  }
  .contacts_templ .right {
      float: none;
      width: 120px;
      margin: 0 auto;
  }
  .contacts_templ p {
      font-size: 14px;
  }
  /*-- /Section 1 - Contacts Page --*/
  /*-- Section 1 - News Page --*/
  .contacts_wrapp {
      padding: 25px 15px 10px 15px;
  }
  .contacts_wrapp p {
    padding: 9px 0;
    font-size: 15px;
  }
  /*-- /Section 1 - News Page --*/
  /*-- Section 1 - Arbitrag Page --*/
  .red_link_wrapp {
      margin-right: 0;
  }
  .dropdown_title:after {
      top: 21px;
  }
  .dropdown_title h3 {
      font-size: 19px;
      line-height: 22px;
  }
  .arb_project {
      padding: 10px 20px 10px 20px;
  }
  .history_items {
      padding: 10px 20px 13px 20px;
  }
  .btns_list {
      margin: 0 -2px;
  }
  .btns_list li {
      padding: 2px;
  }
  .btn_sm {
    font-size: 9px;
  }
  .file_link span {
    font-size: 12px;
    line-height: 12px;
  }
  .upload_file_wrapp {
      padding: 5px 0;
  }
  /*-- /Section 1 - Arbitrag Page --*/
  /*-- Safe --*/
  .soc_ch_thumbs {
    justify-content: center;
    -webkit-justify-content: center;
  }
  .table .table_row .cell h3 {
    display: block;
    font-size: 14px;
  }
  .table .table_header {
    display: none;
  }
  .table .table_row {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  .table .table_row .cell {
      padding: 7px 5px;
  }
  .table .table_row .cell:nth-child(1) {
      width: 30px;
  }
  .table .table_row .cell:nth-child(2) {
      width: calc(50% - 15px);
  }
  .table .table_row .cell:nth-child(3) {
      width: calc(50% - 15px);
      text-align: right;
  }
  .table .table_row .cell:nth-child(4) {
      width: calc(50% - 15px);
      margin-left: 30px;
  }
  .table .table_row .cell:nth-child(5) {
      width: calc(50% - 15px);
      text-align: right;
  }
  /*-- /Safe --*/
  /*-- Section 1 - Configuration Page --*/

  .table_2 .table_row .cell {
    padding: 5px;
  }
  .table_2 .table_row .cell:nth-child(1) {
      width: calc(70% - 55px);
  }
  .table_2 .table_row .cell:nth-child(2) {
      width: 30%;
  }
  .table_2 .table_row .cell:nth-child(3) {
      width: 55px;
  }
  .table_2 .table_header h3 {
      font-size: 10px !important;
      font-weight: 600;
  }
  .table_2 p {
    font-size: 12px;
  }
  .submit_wrapp_2 {
      padding-left: 0;
      text-align: center;
  }
  /*-- /Section 1 - Configuration Page --*/
  /*-- Deals --*/
  .table_3 .table_row .cell:nth-child(1) {
      width: 30px;
      padding-left: 10px;
  }
  .table_3 .table_row .cell:nth-child(2) {
      width: calc(50% - 30px);
  }
  .table_3 .table_row .cell:nth-child(3) {
      width: 50%;
  }
  .table_3 .table_row .cell:nth-child(4) {
      width: calc(50% - 30px);
      margin-left: 30px;
  }
  .table_3 .table_row .cell:nth-child(5) {
      width: calc(33.33% - 30px);
      margin-left: 0;
  }
  .table_3 .table_row .cell:nth-child(6) {
      width: calc(50% - 30px);
      margin-left: 30px;
  }
  .table_3 .table_row .cell:nth-child(7) {
      width: 50%;
  }
  /*-- /Deals --*/
  /*-- Section 1 - Forum Page --*/
  .theme_item_header {
    display: block;
    position: relative;
  }
  .theme_item {
    position: relative;
  }
  .theme_item .col_1:nth-child(1) {
      width: 100px;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
  }
  .theme_item .col_2:nth-child(2) {
      width: 100%;
      padding: 5px 15px 5px 10px;    
  }
  .theme_item_header > div:nth-child(2) {
      width: 100%;
      padding: 5px 0;
      text-align: right;
  }
  .theme_item_header > div:nth-child(1) {
      width: 100%;
      padding: 5px 0;
      text-align: right;
  }
  .theme_item_header > div:nth-child(2) p,
  .theme_item_header > div:nth-child(1) p {
    width: 100%;
  }
  .user_box .photo_box {
    width: 70px;
    height: 70px;
    margin: 2px auto;
  }
  .theme_item {
      display: block;
  }
  .user_box {
    min-height: 120px;
    padding: 5px 0 14px 0;
  }
  .theme_item_content {
    width: 100%;
    padding: 40px 0 10px 0;
  }
  /*-- /Section 1 - Forum Page --*/
  /*-- Section - Forum 2 Page --*/
  .sidebar_box_header h3 {
      font-size: 20px;
  }
  /*-- /Section - Forum 2 Page --*/
  /*-- Section - Forum 2 Page --*/
  .table_7 .table_row .cell:nth-child(1) {
      width: 100%;
  }
  .table_7 .table_row .cell:nth-child(2) {
      width: 100%;
  }
  .table_7 .table_row .cell:nth-child(3) {
      width: 50%;
      margin-left: 0;
  }
  .table_7 .table_row .cell:nth-child(4) {
      width: 50%
  }
  .table_7 .table_row .cell:nth-child(5) {
      width: 100%;
  }
  /*-- /Section - Forum 2 Page --*/
  /*-- Section 1 - Vacansie Page --*/
  .vacansie_header {
    position: relative;
  }
  .vacansie_header > div:nth-child(1) {
      padding-top: 10px;
  }
  .vacansie_header > div:nth-child(1) {
      width: 160px;
      margin: 0 auto 10px auto;
      order: 1;
  }
  .vacansie_header > div:nth-child(2) {
      width: 100%;
      order: 2;
  }
  /*-- /Section 1 - Vacansie Page --*/
  /*-- Section 1 - Modals --*/
  .modal {
      min-height: auto;
  }
  .modal_1 {
      padding: 20px 20px 16px 20px;
  }
  .two_inputs {
    margin: 3px 0;
  }
  .two_inputs .input_wrapp {
      width: 100%;
      margin: 3px 0;
  }
  .grey_link_wrapp {
    padding-top: 10px;
  }
  .modal_form_wrapp_2 {
      margin: 23px 0;
  }
  .modal_title h2 {
      font-size: 25px;
  }
  .two_inputs .dropdown_box_wrapp_2 {
      width: 100%;
      margin: 3px 0;
  }
  .two_inputs .dropdown_box_wrapp_2 {
      max-width: 100%;
  }
  .two_inputs .dropdown_box_title_2 {
      max-width: 100%;
  }
  .inner_box_2 {
      padding: 0;
  }
  .payments_title h3 {
      font-size: 16px;
  }
  .total_price p {
      font-size: 15px;
  }
  .payments_title {
      padding: 10px 0;
  }
  .modal .checkbox_2 label {
      font-size: 16px;
  }
  /*-- /Section 1 - Modals --*/
}
@media only screen and (max-width: 370px) {
  /*-- Section 1 - Arbitrag Page --*/
  .user_thumb_big p {
    font-size: 11px;
  }
  /*-- /Section 1 - Arbitrag Page --*/
  /*-- Safe --*/
  .table .table_row .cell h3 {
      font-size: 11px;
  }
  /*-- /Safe --*/
  /*-- Popup --*/
  .modal.modal_4 .close_btn {
    top: 10px;
    right: 10px;
  }
  /*-- /Popup --*/
}
